
<style>
  div#friend{
    font-size: 18px;
    color: #2c3e50;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  div#shelves{
    text-align:center;
    margin-bottom:50px;
  }
  div#shelves a{
    text-decoration: none;
    font-size: 18px;
    color: #2c3e50;
    padding: 3px;
  }
  div#shelves a.current{
    border-bottom: 1px solid #c0392b;
  }
  div.books{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  div.book{
    margin:10px; 
    display:inline-block; 
    width:150px; 
    text-align:center;
  }
</style>

<% shelf = params[:shelf] || 'read' %>

<div id="friend">
  <p><%= @friend %></p>
</div>
<div id="shelves">
  <a class="<%= 'current' if params[:shelf].blank? %>" href="?">Read</a>
  &nbsp; &nbsp;
  <a class="<%= 'current' if params[:shelf] == "currently-reading" %>" href="?shelf=currently-reading">Currently Reading</a>
  &nbsp; &nbsp;
  <a class="<%= 'current' if params[:shelf] == "to_read" %>" href="?shelf=to_read">Wants to Read</a>
</div>

<div class="books">
<% if @books.size > 0 %>
  <% @books.each do |b| %>
    <div class="book">
      <img src="<%= b[:book][:image_url] %>">
      <p><a href="<%= b[:book][:link] %>" target="_blank"><%= b[:book][:title] %></a></p>
    </div>
  <% end %>
<% else %>
  <p>
    No books found for this user in this category.
  </p>
<% end %>  
</div>
<br>
<div id="bottom"></div>


<script>
  var pages = <%=@pages.to_i%>;
  var current_page = 1;

  $(document).ready(function(){

    function htmlForBook(b){
      var str = "<div class='book'><img src='"+b.book.image_url+"'><p><a href='"+b.book.link+"'>"+b.book.title+"</a></p></div>";
      return str;
    }

    function renderMoreBooks(page){
      $.get('<%= request.path %>/more-books?shelf=<%= shelf %>'+'&page='+page).then(function(res){
        var str = "";
        res.forEach(function(book){
          str += htmlForBook(book);
        });
        $('div.books').append(str);
      });
    }

    $(window).scroll(function() {
      if(current_page !== pages){
        var end = $("div#bottom").offset().top; 
        var viewEnd = $(window).scrollTop() + $(window).height(); 
        var distance = end - viewEnd;
        if(distance < 500){
          current_page++;
          renderMoreBooks(current_page);
        }
      }
    });    

  });
</script>
